<h1>Login</h1>
<%= form_for @user, url: login_path, method: :post do |f| %>
  <% flash[:errors] && flash[:errors].each do |err| %>
    <p><%= err %></p>
  <% end %>

  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit "Login" %>
<% end %>

<p>Don't have an account yet?</p>
<%= link_to "Register instead!", new_user_path %>
