<h1>Register Account</h1>
<%= form_for @user do |f| %>
  <% flash[:errors] && flash[:errors].each do |err| %>
    <p><%= err %></p>
  <% end %>

  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit "Register" %>
<% end %>
