<!DOCTYPE html>
<html>
  <head>
    <title>AuthStuff</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless session[:user_id].nil?  %>
      <%= link_to "Logout", logout_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
